<!DOCTYPE html>
<html lang="pt-br"
    xmlns:th="http://thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link th:href="@{/css/style.css}" rel="stylesheet" />
    <title>AgendaGil</title>
</head>

<body>
<h2>AGENDAMENTOS:</h2>

<form th:action="@{/agendamento}" th:object="${agendamento}" method="post">
    <div>
        <input type="checkbox" th:field="*{status}">
    </div>
    <div>
        <label th:for="local">Laboratório:</label>
        <input type="text" th:field="*{local}" required="required">
    </div>

    <div>
        <label th:for="dia">Dia:</label>
        <input type="text" th:field="*{dia}" required="required">
    </div>

    <div>
        <label th:for="nome">Nome:</label>
        <input type="text" th:field="*{nome}" required="required">
    </div>

    <div>
        <label th:for="disciplina">Disciplina:</label>
        <input type="text" th:field="*{disciplina}" required="required">
    </div>

    <div>
        <label th:for="horario">Horário:</label>
        <input type="text" th:field="*{horario}" required="required">
    </div>

    <div>
        <button type="submit">Agendar</button>
    </div>
</form>
</body>
</html>