<!DOCTYPE html>
<html lang="pt-br"
    xmlns:th="http://thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>AgendaGil</title>
</head>
<body>

    <h2>AGENDAMENTOS:</h2>
    <form method="post">
        <input type="checkbox" th:object="${status}" required="required" value="" nome="status" >
        Laboratório:<input type="text" value="" name="local"/>
        Dia:<input type="text" value="" name="dia"/>
        Nome:<input type="text" value="" name="nome"/>
        Disciplina:<input type="text" value="" name="disciplina"/>
        Horário:<input type="text" value="" name="horario"/>
        <button type="submit">Salvar</button>
    </form>
</body>
</html>